<launch>

 <!-- Joy2Vero Node-->
  <node pkg="joy2twist" type="joy2twist_node" name="joy2twist">
  </node>

  <!-- Axes -->
  <param name="axis_linear" value="3" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="0.2" type="double"/>
  <param name="scale_angular" value="-0.25" type="double"/>


</launch>

